@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --background-color: #000;
  --text-color: #fff;
  --navbar-bg: #25291C;
  --color-2: #E6E49F;
  --color-3: rgb(152, 156, 148);
  --color-4: #BDC2BF;
  --color-5: #E3E7D3;

  font-family: 'DM sans' !important;
}

* {
  scroll-behavior: smooth;
}

.card-shadow {
  box-shadow: 5px 5px 10px rgba(152, 156, 148, 0.5), -5px -5px 10px rgba(152, 156, 148, 0.5);
}