
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";


:root {
  --background-color: #000;
  --text-color: #fff;
  --navbar-bg: #25291C;
  --color-2: #E6E49F;
  --color-3: rgb(152, 156, 148);
  --color-4: #BDC2BF;
  --color-5: #E3E7D3;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: grey;
  border-left: 1px solid black;
}

::-webkit-scrollbar-thumb {
  background: var(--color-2);
}

::-webkit-scrollbar-thumb:hover {
  --color-2: #cfca28;
}

::-webkit-scrollbar-button {
  height: 5px;
}

* {
  scroll-behavior: smooth;
}

.card-shadow {
  box-shadow: 5px 5px 10px rgba(152, 156, 148, 0.5), -5px -5px 10px rgba(152, 156, 148, 0.5);
}

body{
  font-family: 'DM sans' !important;
  user-select: none;
}

input, textarea {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 17px;
  font-weight: 200;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

input::placeholder {
  color: white;
}

.popup {
  position: fixed;
  top: -20%;
  left: 50%;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;

  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;

  transform: translate(-50%, -50%);
  scale: 0;
  opacity: 0;
  visibility: hidden;

  background-color: var(--color-2);
  color: black;
  height: 200px;
  transition: all 0.5s ease-in-out;
}

.popup.show {
  animation: popupAnim 0.5s forwards;
}

@keyframes popupAnim {
  0% {
    scale: 0;
    opacity: 0;
    visibility: hidden;
    top: -20%;
  }
  100% {
    scale: 1;
    opacity: 1;
    visibility: visible;
    top: 20%;
  }
}